// Colors
$page-back: #fcfcfc;
$page-text: #222;
// s9y CI
$link-default: #3a4b6f;
$link-hover: #d06604;
// s9y messages
$error-back: #f2dede;
$error-text: #b94a48;
$success-back: #dff0d8;
$success-text: #468847;
$notice-back: #fcf8e3;
$notice-text: #c09853;
// Yet unused, but suitable
//
// $lite-blue: #ccdde7;
// $darker-blue: #25263e;
// $lite-gray: #ddd;
// $dark-gray: #aaa;

// Pixels to em
@function px-to-em($px, $context: 16px) {
	@return ($px / $context) * 1em;
}
@mixin ligatures {
	-moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}

// Typographic baseline
pre, code, kbd, samp { font-size: px-to-em(14px); }

// nested code
pre code { font-size: 1em; }

pre { margin: px-to-em(24px, 14px) 0; }

h1, h2, h3,
h4, h5, h6,
p, ul, ol, dl,
table, figure {
	font-size: 1em;
	margin: px-to-em(24px) 0;
}

blockquote { margin: px-to-em(24px) px-to-em(40px); }
