/* ==|== media queries ====================================================== */
@media only screen and (max-width: 700px) {
	body {
		// ideal width: 554px;
		font-size: px-to-em(14px);
		line-height: px-to-em(23px,14px);
	}
}

@media only screen and (min-width:1400px) {
	body {
		// ideal width: 829px;
		font-size: px-to-em(18px);
		line-height: px-to-em(29px,18px);
	}
}
