/* ==|== primary styles ===================================================== */
html, body { background: $page-back;}

html, button, input,
select, textarea {
	color: $page-text;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	font-size: 1em;
	line-height: 1.5;
	margin: 0;
}

::-moz-selection { background: $link-default; color: $page-back; text-shadow: none; }
::selection { background: $link-default; color: $page-text; text-shadow: none; }

a {
	&, &:visited { color: $link-default; }
   	&:hover, &:focus { color: $link-hover; }
}

// Layout
#top>div,
#main, #meta {
	margin: 0 auto;
	max-width: 1280px;
}

#banner,
#content {
	float: left;
	margin: 0 2% 0 0;
}

#user_menu,
#main_menu {
	float: right;
	margin: 0 0 0 2%;
}

#banner, #user_menu {
	width: 48%;
	.lt-ie8 & { width: 47.5%; }
}

#user_menu {
	text-align: right;

	li {
		display: inline-block;
		margin: 0 0 0 1em;
	}
}

#content {
	width: 73%;
	.lt-ie8 & { width: 72.5%; }
}

#main_menu {
	width: 23%;
	.lt-ie8 & { width: 22.5%; }
}

// Messages
.msg_error,
.msg_success,
.msg_notice {
	display: block;
	padding: 10px;
}

.msg_error {
	background: $error-back;
	border: 1px solid darken($error-back, 10%);
	color: $error-text;
}

.msg_success {
	background: $success-back;
	border: 1px solid darken($success-back, 10%);
	color: $success-text;
}

.msg_notice {
	background: $notice-back;
	border: 1px solid darken($notice-back, 10%);
	color: $notice-text;
}

.plainList,
.actions {
	list-style: none;
	padding: 0;
}

#banner h1,
#banner a { float: left; }

label {
	font-weight: bold;

	&>span { display: block;	}

	&>span,
	input[type=checkbox] + &,
	input[type=radio] + &,
	.form_check & { font-weight: normal; }
}

// Login screen
#login .form_field label {
	display: inline-block;
	min-width: 8em;
}

.form_multiselect label { display: block; }

// Comments
.comment_data,
.template_info {
	dt, dd { float: left; }
	dt { margin: 0 .4em 0 0; }
}

.comment_data dt,
.template_info dt,
.comment_summary,
.comment_full { clear: both; }

.actions li {
	display: inline-block;
	margin: 0 .4em 0 0;
}

// Entries
#entry_skip legend,
#entry_skip label,
#skipto_entry,
.dialog_delrip li {
	float: left;
	margin: 0 .4em 0 0;
}

// Users/Groups
.sub_perm { margin-left: 1em; }
