.pluginmanager_side {
    vertical-align: top;
    width: 33%;
}

.pluginmanager_container {
    background-color: #eee;
    border: 1px dashed #ddd;
    height: 98%;
    margin: 0;
    min-height: 200px;
}

.pluginmanager_container li {
    margin: 0 0 1em;
    padding: 3px;
    position: relative;
}

.pluginmanager_item_even,
.pluginmanager_item_uneven {
    background-color: #ccc;
    border: 1px solid #bbb;
}

.pluginmanager_place,
.pluginmanager_ownership { text-align: right; }

.pluginmanager_grablet {
    background-image: url("img/grablet.gif");
    background-repeat: repeat-x;
    cursor:move;
    display: block;
    height: 10px;
    margin: 0 0 5px;
    padding: 0;
    width: 10%;
}

.grablet:hover { background-image: url("img/grablet_over.gif"); }
